body{
  margin: 0;
  overflow-x: hidden; 
}

.content-section{
  display: grid;
  grid-auto-columns: 170px 4fr;
}

/*<--------------------------------Side menu---------------------------------->*/

.side-menu {
  display: grid; 
/*  grid-auto-rows: 12% 23% 20% 45%;
*/  
  grid-auto-rows: 12% 20% 20% 58%;
  grid-column: 1;
  background-color: #354052;
  overflow-y: hidden;
  height: 100%;
}

.side-menu-icons {
  color: #e3e7ed;
  padding-right: 1em;
  width: 12px;
}

.side-menu-text{
  display: flex;
  color: #e3e7ed;
  font-size: small;
  margin-left: 1em;
  font-family: 'Source Sans Pro', sans-serif;
}

.side-menu-header-text{
  color: #e3e7ed;
  font-size: .7em;
  margin-left: 1em;
  font-family: 'Roboto', sans-serif;
  opacity: 0.6;
}

.profile-img-section{
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4em 2em 3em .8em;
  height: 38%;
  border-bottom: 1px solid #1d1e1e;
  font-size: small;
  color: #e3e7ed;
  font-family: 'Karla', sans-serif;
  position: relative;
}

.profile-img-section img{
  position: relative;
  top: 2px;
  left: 23px;
  border-radius: 50% 50%;
  border: 1px solid #16243a;
  height: 90px;
  width: 90px;
}

.profile-name{
  position: relative;
  top: -3px;
  left: 14px;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
}

.main-menu-section{
  grid-row: 2;
  display: flex;
  height: 95%;
  flex-direction: column;
  align-self: flex-start;
  align-items: space-between;
  border-bottom: 1px solid #1d1e1e;
  }

.admin-section{
  grid-row: 3;
  align-self: start;
  border-bottom: 1px solid #1d1e1e;
  display: flex;
  height: 95%;
  flex-direction: column;
  align-items: space-between;
  padding-top: 0;
}

.categories-section{
  grid-row: 4;
  border-bottom: 1px solid #1d1e1e;
  display: flex;
  flex-direction: column;
  }

.fa-check-square{
  color: yellow;
}

.square2{
  color: blue;
}

.square3{
  color: red;
}

.square4{
  color: green;
}
/*<--------------------------------Main/Nested Section Graph Layout---------------------------------->*/

.main-section{
  grid-column: 2;
}

.main-nested{
  display: grid;
  grid-auto-rows: 18% 20% 27% 35%;
  grid-template-areas:
  "searchmenu" 
  "jobdescript" 
  "graphsection"
  "maincontent";
  background-color: #edf2f6;
  width: 100vw;
  }

/*<--------------------------------Top Search Bar---------------------------------->*/

.search-menu {
  display: grid;
  grid-template-columns: .3fr 3fr .3fr .3fr .3fr;
  grid-area: searchmenu;
  height: 65px;
  border-bottom: .5px solid #c6c9ce;
  width: 100vw;
}

.flex-center-search-items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-hamburger{
  grid-column: 1;
  background-color: #ffffff;
  border-right: .5px solid #c6c9ce;
  color: grey;
}

.search-bar{
  grid-column: 2;
  border-bottom: .5px solid #c6c9ce;
}

.search-bar input{
  grid-column: 2;
  height: 93%;
  width: 100%;
  font-size: 2em;
  background-image: url('/Users/Cierra/Documents/Turing Projects/static-comp-3/images/search1.svg');
  background-position: 5px;
  background-size: 35px 35px;
  background-color: white;
  background-repeat: no-repeat;
  text-indent: 48px;
  color: #b5b9bf;
}

.search-bar input::placeholder{
  padding-left: .2em;
  color: #b5b9bf;
}

.search-button{
  grid-column: 3;
  background-color: #ffffff;
  border-left: .5px solid #c6c9ce;
  border-right: .5px solid #c6c9ce;
}

.button-hover:hover{
  background-color: #13a1f5;
  color: white;
}

/*.search-hamburger:hover{
  color: white;
}*/

.search-calendar{
  grid-column: 4;
  background-color: #ffffff;
  border-right: .5px solid #c6c9ce;

}

.search-options{
  grid-column: 5;
  background-color: #ffffff;

}

.fa-caret-left{
  color: #13a1f5;
  margin-right: .1em;
}

.fa-bars{
  color: grey;
}

                          /*<--------------------------Nested Area-------------------------->*/


/*<----------------------------Job Description/Header------------------------------>*/

.job-description{
  grid-area: jobdescript;
  background-color: #ffffff;
  border-bottom: .5px solid #c6c9ce;
  font-family: 'Karla', sans-serif;
  height: 120%;
}

.job-header-title{
  font-size: 2rem;
  color: #5e6063;
  margin-bottom: 0;
  }

.grid-title-section{
  display: flex;
  position: relative;
  top: 16%;
  width: 800px;
  justify-content: space-around;
  padding-left: 2em;
  font-family: 'Roboto', sans-serif;
}

.job-header{
  padding-left: 3em;
  position: relative;
  top: 5%;
}

.job-sub-header{
  display: inline;
  color: grey;
}

.job-description-options{
  display: inline;
  padding-left: 28em;
  }

.job-description-options i{
  padding-left: 1em;
  }

  .open-button{
    height: 40px;
    width: 75px;
    border-radius: 15px;
    text-align: center;
  }

  .open-button:hover{
    background-color: #13a1f5
  }

  .open-bullet{
    color: #86c338;
    font-size: 2em;
  }

  .graph-section-hover{
    width: 70px;
    height: 5px;
    border-radius: 5px;
    background-color: #13a1f5;
    position: relative;
    top: 17%;
    left: 3.2em;
  }

  .previewpost{
    font-size: small;
    color: #13a1f5;
  }


/*<--------------------------------Graph Section--------------------------------->*/
.graph-section{
  grid-area: graphsection;
  margin-left: 3em;
  margin-right: 40px;
  margin-top: 10%;
  height: 330px;
  position: relative;
}

#bargraph{
  display: grid;
/*  border: 1px solid blue;
*/  width: 500px;
  height: 215px;
}

.bar-graph-container{
  position: relative;
  bottom: 154%;
  left: 55%;
}

.pie-div{
  position: relative;
  bottom: 10%;
  display: flex;
  width: 47%;
  justify-content: space-between;
}

.bargraph-numbers{
  position: relative;
  left: 48%;
  bottom: 50%;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100px;
}
.bargraph-days{
  display: flex;
  width: 460px;
  position: relative;
  left: 57%;
  bottom: 75%;
  justify-content: space-between;
}

.horizontal-rule{
  position: relative;
  top: 88%;
}

.fa-angle-up{
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  height: 20px;
  width: 20px;
  color: grey;
}

.hrdivider{
  position: relative;
  top: 82%;
  left: 48%;
}

.chart-buttons{
  background-color: #fbfaf8;
  border-radius: 15px;
  border: .5px solid black;
  display: inline;
  width: 200px;
  height: 30px;
  font-size: small;
  padding: .5em;
}

.chart-button-1{
  position: relative;
  top: 33px;
  left: 16%;
}

.chart-button-2{
  position: relative;
  top: 50%;
  left: 55%;
  top: 35px;
}
/*<--------------------------------Main Content---------------------------------->*/

.main-content{
  grid-area: maincontent;
  display: grid;
  grid-auto-columns: 2.5fr 1fr;
  background-color: #edf2f6;
  column-gap: 40px;
  margin-top: 30px;
}

/*<--------------------------------Job Card---------------------------------->*/

.job-card{
  grid-column: 1;
  display: flex;
  flex-direction: column;
/*  background-color: inherit;
*/  margin-left: 3em;
  margin-bottom: 3em;
}

.job-card-header{
  display: flex;
  align-items: center;
  background-color: #6f7e95;
  color: #e3e7ed;;
  padding-left: 2em;
  font-family: 'Karla', sans-serif;
}

.edit-job-button{
  background-color: #7a88a3;
  padding: .5em;
  width: 50px;
  height: 20px;
  margin-left: 1em;
  color: #e3e7ed;
}

.job-card-body{
  font-family: 'Karla', sans-serif;
  background-color: #ffffff;
}

.job-card-body h5{
  color: #6f7e95;
  font-weight: bold;
}

.job-card-div{
  display: flex;
  align-items: center;
}

.job-card-div h5{
  width: 150px;
  margin: 2em 2em 2em 2em;
  }

.job-card-div p{
  margin: 2em 0 2em 0;
  display: flex;
  }

  .job-descript{
    display: flex;
    align-items: flex-start;
  }

/*<--------------------------------Media Aside---------------------------------->*/

.media-aside{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  background-color: #edf2f6;
  margin-right: 40px;
  color: #5e6063;
  font-family: 'Source Sans Pro', sans-serif;

}

.media-aside img{
  grid-column: 2;
  margin-right: 40px;
  width: 100%;
  border-radius: 4px;
}

.media-aside input{
  width: 87%;
  height: 30px;
  border-radius: 4px 0px 0px 4px;
  margin-bottom: 1em;
  outline: none;
}

.aside-header{
  font-size: 1em;
  margin-bottom: 0;
}

.media-aside-section{
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.copy-button{
  background-color: #42b8ba;
  border-radius: 0px 4px 4px 0px;
  margin-bottom: 1em;
  height: 35px;
  border-left: none;
}

.copy-link{
  display: flex;
}

.media-icons{
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  margin-bottom: 4%;
}

.link-to-job{
  border-bottom: .5px solid #c6c9ce;;
}

.button-widget{
  border-bottom: .5px solid #c6c9ce;;
}

.upload-resume input{
  width: 98%;
}


/*<--------------------------------Media Queries---------------------------------->*/
