body{
  margin: 0;
}

.content-section{
  display: grid;
  grid-template-columns: 200px 4fr;
}

#bargraph{
  display: grid;
  border: 1px solid blue;
  width: 450px;
  height: 200px;
}

#circlegraph{
}


/*<--------------------------------Side menu---------------------------------->*/

.side-menu {
  display: grid; 
  grid-auto-rows: 15% 20% 20% 45%;
  grid-column: 1;
  background-color: #354052;
}

.side-menu-icons {
  color: #e3e7ed;
  padding-right: 1em;
  width: 12px;
}

.side-menu-text{
  display: flex;
  color: #e3e7ed;
  font-size: small;
  margin-left: 1em;
  font-family: 'Roboto', sans-serif;
}

.side-menu-header-text{
  color: #e3e7ed;
  font-size: x-small;
  margin-left: 1em;
  font-family: 'Roboto', sans-serif;
}

.profile-img-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 2em 3em 2em;
  grid-row: 1;
  height: 51%;
  border-bottom: 1px solid #1d1e1e;
  font-size: small;
  color: #e3e7ed;
  font-family: 'Karla', sans-serif;
  position: relative;
}

.profile-img-section img{
  position: relative;
  top: 9px;
  left: 23px;
  border-radius: 50% 50%;
  height: 105px;
  width: 100px;
}

.profile-name{
  position: relative;
  top: 8px;
  left: 7px;
}

.main-menu-section{
  grid-row: 2;
  display: flex;
  height: 95%;
  flex-direction: column;
  align-self: flex-start;
  align-items: space-between;
  border-bottom: 1px solid #1d1e1e;
  }

.admin-section{
  grid-row: 3;
  align-self: start;
  border-bottom: 1px solid #1d1e1e;
  display: flex;
  height: 95%;
  flex-direction: column;
  align-items: space-between;
  padding-top: 0;
}

.categories-section{
  grid-row: 4;
  border-bottom: 1px solid #1d1e1e;
  display: flex;
  flex-direction: column;
  }

.fa-check-square{
  color: yellow;
}

.square2{
  color: blue;
}

.square3{
  color: red;
}

.square4{
  color: green;
}
/*<--------------------------------Main/Nested Section Graph Layout---------------------------------->*/

.main-section{
  grid-column: 2;
}

.main-nested{
  display: grid;
  grid-auto-rows: 10% 20% 30% 40%;
  grid-template-areas:
  "searchmenu" 
  "jobdescript" 
  "graphsection"
  "maincontent";
  background-color: #edf2f6;
  }

/*<--------------------------------Top Search Bar---------------------------------->*/

.search-menu {
  display: grid;
  grid-template-columns: .3fr 3fr .3fr .3fr .3fr;
  grid-area: searchmenu;
  height: 50px;
  border-bottom: .5px solid #c6c9ce;
}

.flex-center-search-items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-hamburger{
  grid-column: 1;
  background-color: #ffffff;
  border-right: .5px solid #c6c9ce;
}

.search-bar{
  grid-column: 2;
  border-bottom: .5px solid #c6c9ce;
}

.search-bar input{
  grid-column: 2;
  height: 90%;
  width: 100%;
}

.search-button{
  grid-column: 3;
  background-color: #ffffff;
  border-left: .5px solid #c6c9ce;
  border-right: .5px solid #c6c9ce;
}

.button-hover:hover{
  background-color: #13a1f5;
}

.search-calendar{
  grid-column: 4;
  background-color: #ffffff;
  border-right: .5px solid #c6c9ce;

}

.search-options{
  grid-column: 5;
  background-color: #ffffff;

}

.fa-caret-left{
  color: #13a1f5;
  margin-right: .1em;
}

.fa-bars{
  color: grey;
}

                          /*<--------------------------Nested Area-------------------------->*/


/*<----------------------------Job Description/Header------------------------------>*/

.job-description{
  grid-area: jobdescript;
  background-color: #ffffff;
  border-bottom: .5px solid #c6c9ce;
  font-family: 'Karla', sans-serif;
  height: 125%;
}

.grid-title-section{
  display: flex;
  position: relative;
  top: 40px;
  width: 800px;
  justify-content: space-around;
  padding-left: 2em;
  font-family: 'Roboto', sans-serif;
}

.job-header{
  padding-left: 3em;
}

.job-sub-header{
  display: inline;
}

.job-description-options{
  display: inline;
  padding-left: 28em;
  }

.job-description-options i{
  padding-left: 1em;
  }

  .open-button{
    height: 30px;
    width: 60px;
    border-radius: 15px;
    text-align: center;
  }

  .open-bullet{
    color: #86c338;
    font-size: large;
  }

  .section-hover{
    width: 70px;
    height: 5px;
    border-radius: 5px;
    background-color: #13a1f5;
    position: relative;
    top: 45px;
    left: 3.2em;
  }
/*<--------------------------------Graph Section--------------------------------->*/
.graph-section{
  grid-area: graphsection;
  margin-left: 3em;
  margin-right: 40px;
}

/*<--------------------------------Main Content---------------------------------->*/

.main-content{
  grid-area: maincontent;
  display: grid;
  grid-auto-columns: 2.5fr 1fr;
  background-color: #edf2f6;
  column-gap: 40px;
  margin-top: 30px;
}

/*<--------------------------------Job Card---------------------------------->*/

.job-card{
  grid-column: 1;
  display: flex;
  flex-direction: column;
  background-color: blue;
  margin-left: 3em;
  margin-bottom: 3em;
}

.job-card-header{
  display: flex;
  align-items: center;
  background-color: #6f7e95;
  color: #e3e7ed;;
  padding-left: 2em;
  font-family: 'Karla', sans-serif;
}

.edit-job-button{
  background-color: #7a88a3;
  padding: .5em;
  width: 50px;
  height: 20px;
  margin-left: 1em;
  color: #e3e7ed;
}

.job-card-body{
  font-family: 'Karla', sans-serif;
  background-color: #ffffff;
}

.job-card-body h5{
  color: #6f7e95;
  font-weight: bold;
}

.job-card-div{
  display: flex;
  align-items: center;
}

.job-card-div h5{
  width: 150px;
  margin: 2em 2em 2em 2em;
  }

.job-card-div p{
  margin: 2em 0 2em 0;
  display: flex;
  }

/*.hrdiv1{
  border-bottom: 1px solid black;
  width: 50%;
}

.hrdiv2{
  display: flex;
  align-content: center;
  border-bottom: 1px solid black;
  width: 50%;
}


.hrsection{
  width: 800px;
  display: flex;
  margin-left: 3em;
  margin-bottom: 1em;
}

.hrsection i{
  border: 1px solid black;
  border-radius: 50% 50%;
  margin-top: 2em;
}*/

/*<--------------------------------Media Aside---------------------------------->*/

.media-aside{
  grid-column: 2;
  display: flex;
  flex-direction: column;
  background-color: #edf2f6;
  margin-right: 40px;
}

.media-aside img{
  grid-column: 2;
  background-color: green;
  margin-right: 40px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

.media-aside input{
  width: 87%;
  height: 30px;
  border-radius: 4px 0px 0px 4px;
  margin-bottom: 1em;
}

.media-aside-section{
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.copy-button{
  background-color: #42b8ba;
  border-radius: 0px 4px 4px 0px;
  margin-bottom: 1em;
}

.copy-link{
  display: flex;
}

.media-icons{
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}

.link-to-job{
  border-bottom: .5px solid #c6c9ce;;
}

.button-widget{
  border-bottom: .5px solid #c6c9ce;;
}

.upload-resume input{
  width: 98%;
}


/*<--------------------------------Media Queries---------------------------------->*/
